<style>
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .date-button {
      border: none;
      background-color: transparent;
    }

    .modal {
      display: block;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 30%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-content {
      position: relative;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
</style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        dayCellContent: function(info) {
          var dayNumber = info.dayNumberText;
          var button = document.createElement('button');
          button.innerText = dayNumber;
          button.classList.add('date-button');
          return { domNodes: [button] };
        },
        dateClick: function(info) {
          var date = info.date;
          openInputForm(date);
        },
        eventClick: function(info) {
          if (confirm("이벤트를 삭제하시겠습니까?")) {
            // 여기에 삭제된 이벤트 정보를 서버로 전송하는 코드를 추가할 수 있습니다.
            var pk = info.event.id;

            fetch('deleteEvent/' + pk + "/", {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // Django에서 CSRF 보호를 사용하고 있다면 해당 토큰을 전송합니다.
              },
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                // 서버에서 삭제 성공한 경우
                info.event.remove();
                alert('삭제 성공');
              } else {
                // 서버에서 삭제 실패한 경우
                console.error('이벤트 삭제 실패');
                alert('삭제 실패');
              }
            })
            .catch(error => {
              console.error('AJAX 요청 실패:', error);
              alert('AJAX 요청 실패');
            });
          }
        },
      });
      calendar.render();

      var events = JSON.parse('{{ events_json|escapejs }}');
      for (var i = 0; i < events.length; i++) {
        var event = events[i];
        console.log(event.stat);
        var eventColor = event.stat? 'green' : 'red';
        calendar.addEvent({
          id: event.id,
          title: event.title,
          start: event.date,
          end: event.date,
          backgroundColor: eventColor,
          borderColor: eventColor,
        });
      }

      function openInputForm(date) {
        var modalOverlay = document.createElement('div');
        modalOverlay.classList.add('modal-overlay');
        modalOverlay.addEventListener('click', closeModal);

        var modal = document.createElement('div');
        modal.classList.add('modal');

        var content = document.createElement('div');
        content.classList.add('modal-content');

        var title = document.createElement('h2');
        title.textContent = date.getFullYear().toString() + "/" + (date.getMonth()+1).toString() + "/" + date.getDate().toString();
        content.appendChild(title);

        var closeButton = document.createElement('span');
        closeButton.classList.add('close');
        closeButton.innerHTML = '&times;';
        closeButton.addEventListener('click', closeModal);

        //var form = document.createElement('form');
        content.appendChild(closeButton);
        modal.appendChild(content);

        fetch('inputForm/')
          .then(response => response.clone().text())
          .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');

            const bootstrapCSS = document.createElement('link');
            bootstrapCSS.rel = 'stylesheet';
            bootstrapCSS.href = 'https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/sketchy/bootstrap.min.css';
            doc.head.appendChild(bootstrapCSS);

            const bootstrapJS = document.createElement('script');
            bootstrapJS.src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js';
            doc.body.appendChild(bootstrapJS);

            const form = doc.querySelector('form');
            form.classList.add('form-group');

            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'date';
            /*hiddenInput.value = date.toISOString().split('T')[0];*/
            hiddenInput.value = date.getFullYear().toString() + "-" + (date.getMonth()+1).toString() + "-" + date.getDate().toString();
            form.appendChild(hiddenInput);

            content.appendChild(form);
            document.body.appendChild(modalOverlay);
            document.body.appendChild(modal);
          })
          .catch(error => {
            console.error('Error fetching inputForm.html:', error);
          });
      }

      function closeModal() {
        var modalOverlay = document.querySelector('.modal-overlay');
        var modal = document.querySelector('.modal');
        modalOverlay.parentNode.removeChild(modalOverlay);
        modal.parentNode.removeChild(modal);
      }
    });
  </script>
