<script>
  // Data retrieved from https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature
  var amount_data_in = JSON.parse('{{ amount_data_in|escapejs }}');
  var amount_data_out = JSON.parse('{{ amount_data_out|escapejs }}');
  Highcharts.chart('container', {
  chart: {
    type: 'spline'
  },
  title: {
    text: '월별 평균 수입 지출 비교'
  },
  subtitle: {
    text: ''
  },
  xAxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    accessibility: {
      description: 'Months of the year'
    }
  },
  yAxis: {
    title: {
      text: '금액 (만원)'
    },
    labels: {
      format: '{value}'
    },
    tickInterval: 20,
    min: 0,
    max: 100
  },
  tooltip: {
    crosshairs: true,
    shared: true
  },
  plotOptions: {
    spline: {
      marker: {
        radius: 3,
        lineColor: '#FFFFFF',
        lineWidth: 1
      }
    }
  },
  series: [{
    name: '수입',
    marker: {
      symbol: 'square'
    },
    color: 'blue',
    data: amount_data_in
  }, {
    name: '지출',
    marker: {
      symbol: 'circle'
    },
    color: 'red',
    data: amount_data_out
  }]
});

</script>


