<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>CashBook</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/cashbook/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/expense_chart/">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_me/">About</a>
        </li>
      </ul>
      <div id="user-tools" class="d-flex">
          <div class="d-flex">
            {% if user.is_authenticated %}
            <p style="color: #E6E6E6" class="me-sm-2">WELCOME, </p>
            <a style="color: #E6E6E6" class="me-sm-1">{{ user.username }}</a>
            {% endif %}
          </div>
          <form class="d-flex" action="../logout">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <button class="btn btn-secondary my-2 my-sm-0 mx-3" type="submit">
                Log out
              </button>
            {% else %}
              <button class="btn btn-secondary my-2 my-sm-0 mx-3" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
              Log in
              </button>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
</nav>
