{% extends 'cashbook/base.html' %}

{% block main_area %}
<div class="container">
  <div class="page-header mx-auto" id="banner">
      <div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
          <div class="text-center">
              <img src="/static/images/applogo_img.png" alt="appname" width="400">
              <br/>
              <br/>
              <p class="lead">Find easy-to-use household accounts!</p>
          </div>
      </div>
  </div>
</div>
{% endblock %}